<div class="panel panel-default center-block">
		<div class="panel-body">
			<a href="/"><h3 id="search-again-button">Search again</h3></a>

			<% if @data.has_key?('status') and @data['status'] != 'OK' %>
				<p>Not found on Google Places. :(</p>
			<% else %>
				<% if @data['photos'] %>
					<div id="gallery" class="carousel slide center-block" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#gallery" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				<% end %>

				<p>Name: <%= @data['name'] %></p>
				<p>Address: <%= @data['adr_address'] %></p>
				<p>Phone number: <%= @data['formatted_phone_number'] %></p>
				<p>International phone number: <%= @data['international_phone_number'] %></p>
				<p>Rating: <%= @data['rating'] %></p>
				<p>Reviews:</p>
				<% if @data['reviews'] %>
					<% @data['reviews'].each do |review| %>
						<div class="review-bubble">
									  <p><%= review['text'] %></p>
									  <p>- <%= review['author_name'] %></p>
						       </div>
					<% end %>
				<% end %>
				<a href="<%= @data['url'] %>"><p>Check out on Google Maps</p></a>
				<p>Website: <%= @data['website'] %></p>
			<% end %>

			<div id="booking_data">
				<% if @data[:booking_status] == :ok %>
					<p>Location perk: <%= @data[:location_perk] %></p>
					<p>Score on Booking.com: <%= @data[:booking_score_word] %> <%= @data[:booking_rating_score] %></p>
					<a href="<%= @data[:booking_link] %>"><p>Check out on Booking.com</p></a>
				<% end %>
			</div>

			<% if @data[:tripadvisor_status] == :ok %>
				<p><%= @data[:tripadvisor_rank_text] %></p>
				<p>Score on Tripadvisor.com: <%= @data[:tripadvisor_rating_score] %></p>
				<a href="<%= @data[:tripadvisor_link] %>"><p>Check out on TripAdvisor.com</p></a>
				<p>TripAdvisor highlight tags:</p>
				<% if @data[:tripadvisor_highlights_tags] %>
					<div>
						<% @data[:tripadvisor_highlights_tags].each do |tag| %>
							<span class="tripadvisor-tag"><%= tag %></span>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	
	<%# content_for :additional_js %>
	<script src="/js/jquery-2.1.4.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="/js/binary_ajax_request.js"></script> -->
	<script type="text/javascript">
			$(document).ready(function() {
				// Magic JS
				$.ajaxTransport("+binary", function(options, originalOptions, jqXHR){
					// check for conditions and support for blob / arraybuffer response type
					if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob)))))
					{
						return {
							// create new XMLHttpRequest
							send: function(headers, callback){
						// setup all variables
								var xhr = new XMLHttpRequest(),
						url = options.url,
						type = options.type,
						async = options.async || true,
						// blob or arraybuffer. Default is blob
						dataType = options.responseType || "blob",
						data = options.data || null,
						username = options.username || null,
						password = options.password || null;
									
								xhr.addEventListener('load', function(){
							var data = {};
							data[options.dataType] = xhr.response;
							// make callback and send data
							callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
								});
				 
								xhr.open(type, url, async, username, password);
								
						// setup custom headers
						for (var i in headers ) {
							xhr.setRequestHeader(i, headers[i] );
						}
								
								xhr.responseType = dataType;
								xhr.send(data);
							},
							abort: function(){
								jqXHR.abort();
							}
						};
					}
				});

				<% unless @data.has_key?('status') and @data['status'] != 'OK' %>
					<% if @data['photos'] %>
						<% @data['photos'].each_with_index do |photo, index| %>
							<% if index == 0 %>
								$(".carousel-indicators").append('<li data-target="#gallery" data-slide-to="<%= index %>" class="active"></li>');
							<% else %>
								$(".carousel-indicators").append('<li data-target="#gallery" data-slide-to="<%= index %>"></li>');
							<% end %>
							$.ajax("/get_photo/<%= photo['photo_reference'] %>", {
								method: "GET",
								dataType: "binary",
								processData: false,
								success: function(result){
									var urlCreator = window.URL || window.webkitURL;
									var imageUrl = urlCreator.createObjectURL( result );
									$.ajax(imageUrl, {
										method: "GET",
										dataType: 'html',
										success: function(result) {
											var html = $('<div></div>').append(result);
											var href = html.find("a").attr("href");
											<% if index == 0 %>
										$(".carousel-inner").append('<div class="item active"><img src="' + href + '" /></div>');
									<% else %>
										$(".carousel-inner").append('<div class="item"><img src="' + href + '" /></div>');
									<% end %>
										}
									});
									
								},
						
							});
						<% end %>
					<% end %>
				<% end %>
			});
	</script>