<!DOCTYPE html>
<html>
<head>
	<title>Placefinder</title>
</head>
<body>
	<p>Results for <%= @query %></p>
	<% if @suggestions == :error %>
		<p>Whoops, something went wrong.</p>
	<% else %>
		<% @suggestions.each do |place| %>
			<p><%= place['name'] %></p>
			<p><%= place['formatted_address'] %></p>
			<p><%= place['rating'] %></p>
			<p><a href="/place/<%= place['name'] %>">Get more info</a></p>
		<% end %>
	<% end %>
</body>
</html>